#foto1{
    max-width: 75%;
    max-height: 75%;
    padding:10px; 
    }
#foto2{
    max-width: 75%;
    max-height: 75%;
    padding:10px; 
    }
    
#foto3{
    max-width: 75%;
    max-height: 75%;
    padding:10px; 
    }
    
#foto4{
    max-width: 75%;
    max-height: 75%;
    padding:10px; 
    }
    
#foto5{
    max-width: 75%;
    max-height: 75%;
    padding:10px; 
    }
    
#foto6{
    max-width: 75%;
    max-height: 75%;
    padding:10px; 
    }
    
#foto7{
    max-width: 75%;
    max-height: 75%;
    padding:10px; 
    }
    
#foto8{
    max-width: 75%;
    max-height: 75%;
    padding:10px; 
    }
    
#foto9{
    max-width: 75%;
    max-height: 75%;
    padding:10px; 
}
header{
    text-align: center;
    
}
.p{
    margin-left: 8px;
    margin-right: 8px;
}
footer{
    text-align: center;
    min-height: 200px;

}
ul{
background-color: lightgreen;    
color: white;
text-decoration: none;
}

li{
    display: inline-block;
    height: 50%;
    width: 150px;
    padding: 12px;
    text-align: center;
    color: #070000;
    border-left: 2px solid green;
    border-right: 1px solid green;
    background-color: rgb(2, 146, 182); 
}
li:hover{
    background-color: rgb(104, 155, 168);
    border-style: none;
    }
li a{
    color: #d6c913;
}
form{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    padding: 12px;
    text-align: center;
    color: #070000;
    border-left: 2px solid green;
    border-right: 1px solid green;
    background-color: rgb(2, 146, 182);
    box-sizing:content-box; 
    margin: 15px 0px;
    width: 50%;  
    height: 50%;
}

#voornaam, #achternaam, #email{
    padding: 8px;
    width: fit-content;
    margin: 15px;
    display:flex; 
    flex-direction:column;
    justify-content:center;
    min-height:10vh;
    }
#bericht{
    padding: 8px;
    margin: 15px;
    width: fit-content;
    display:flex; 
    flex-direction:column;
    justify-content:center;
    min-height: 10vh;
    font-family: Arial, Helvetica, sans-serif;
    }
#button{
    padding: 8px;
    margin: 8px;    
    display: block;
}

#button:active{
    color:blue
}

#button:hover{
    background-color: crimson;
    color:blue
}
.paragraaf{
margin:12px;    
}
form{
margin:12px;    
}